/* app/globals.css */
@import "tailwindcss";



@layer components {
  .sidebar-scroll {
    @apply overflow-y-auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.3) rgba(0, 0, 0, 0.1);
  }
  
  .sidebar-scroll::-webkit-scrollbar {
    @apply w-1.5;
  }
  
  .sidebar-scroll::-webkit-scrollbar-track {
    @apply bg-gray-800 rounded;
  }
  
  .sidebar-scroll::-webkit-scrollbar-thumb {
    @apply bg-gray-500 rounded;
  }
  
  .sidebar-scroll::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

